body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#output {
    background-image: linear-gradient(to bottom right, #5F7CDB, #DBE2F7);
    border: 12px solid #FFC501;
    border-radius: 9px;
    padding: 9px;
    text-align: center;
}