body {
    align-items: center;
    background-color: #0E0C22;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#search-container {
    line-height: 1.5;
    text-align: center;
}

#output {
    background-image: linear-gradient(to bottom right, #708ADF, #DBE2F7);
    border: 12px solid #FFC501;
    border-radius: 9px;
    color: #000;
    margin-top: 25px;
    padding: 9px;
    text-align: center;
}

#top-output {
    height: 157px;
}

table {
    border-spacing: 5px;
    margin: 0 auto;
    text-align: left;
    width: 260px;
}

th, td {
    background-color: #5F7CDB;
    padding: 4px;
}

/* Pokémon Types */
.bug {
    background-color: #89960F;
}

.dark {
    background-color: #503B2F;
}

.dragon {
    background-color: #7961E4;
}

.electric {
    background-color: #F3AB0F;
}

.fairy {
    background-color: #F3AFF2;
}

.fighting {
    background-color: #81341d;
}

.fire {
    background-color: #CB2401;
}

.flying {
    background-color: #7285DF;
}

.ghost {
    background-color: #5A58AB;
}

.grass {
    background-color: #6EBC30;
}

.ground {
    background-color: #D3B257;
}

.ice {
    background-color: #8BDEFA;
}

.normal {
    background-color: #C6C2B8;
}

.poison {
    background-color: #8C428E;
}

.psychic {
    background-color: #EB4681;
}

.rock {
    background-color: #9E863D;
}

.steel {
    background-color: #8C8E9F;
}

.water {
    background-color: #2587E6;
}